/**
 * Basic typography style for copy text
 */

 html {
   font-size: 16px;
 }

 $base-font-size: 1rem;
 $base-line-height: $base-font-size * 1.3;

 $line-heights: (
  -1: $base-line-height,
  0: $base-line-height,
  1: $base-line-height * 2,
  2: $base-line-height * 2
);

/// Type scale
$type-scale: (
  -2: 0.5rem,
  -1: 0.707rem,  // small text
  0: 1rem,       // body text
  1: 1.414rem,
  2: 1.999rem,   // medium text
  3: 2.827rem,
  4: 3.998rem    // large text
);

/// Body base
body {
  color: $text-color;
  font: normal $text-font-stack;
  @include type-setting(0);
}

// The main heading
.large-text { @include type-setting(4); }
.medium-text { @include type-setting(2); }
.normal-text { @include type-setting(0); }
