{{ partial "head" . }}

<body>
    <div id="wrap">

        <!-- Header -->
        {{ partial "header" . }} {{ if isset .Params "showpagemeta" }} {{ .Render "projects" }} {{ else }}
        <div class="container">
            <div class="blog-post">
              {{ if isset .Params "header-img"}}
                {{ partial "head-img" . }}
              {{ end }}

                <div class="blog-title">
                    <h3 class="medium-text">
            <strong><a href="{{ .Permalink }}">{{ .Title }}</a></strong>
          </h3>
                </div>
                <h4 class="normal-text">
          {{ .Date.Format "January 2, 2006" }}
            &nbsp;&nbsp;
            <!-- {{ range .Params.tags }}
            <span class="label label-success">{{ . }}</span>
            {{ end }} -->
          </h4>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="blogpost">
                        {{ .Content }}
                        {{ partial "gallery" . }}
                    </div>
                </div>
            </div>
        </div>
        {{ end }}
    </div>

    <!-- Footer -->
    {{ partial "footer" . }}

</body>

</html>
