// -----------------------------------------------------------------------------
// This file contains all styles related to the blog of the site/application.
// -----------------------------------------------------------------------------

.blog-post{
  padding-top: 15px;
}
.blog-title{
  padding-top: 2px;
}
.related-posts h4 {
  text-align: center;
}
.blogpost{
  text-align: left;
  // line-height: 30px;
  // font-size: 18px;
}
.disqus {
  padding-bottom: 15px;
}
.avatar {
  padding-top: 5%;
}
.page-not-found {
  padding-top: 20%;
}
